.AuthContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}

.card_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
