body {
  margin: 0;
  padding: 0;
}

.FooterContainer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100vw;
  z-index: 100;
}
